<div style='float:left;'>
  <br/> 
  <% unless photo[:saved] == true %>
    <img src='<%= "#{photo[:image_url]}" %>'>
    <%= form_for([@user, Photo.new], remote: true) do |f| %>
      <%= hidden_field_tag "user_id", "#{photo[:user_id]}"  %>
      <%= hidden_field_tag "image_url", "#{photo[:image_url]}"  %>
      <%= hidden_field_tag "latitude", "#{photo[:latitude]}"  %>
      <%= hidden_field_tag "longitude", "#{photo[:longitude]}"  %>
      <%= hidden_field_tag "saved", "#{photo[:saved]}"  %>
      <%= f.submit("Add to map") %>
    <% end %>
  <% end %>
</div>