<div class="import-photo" style='float:left;'>
  <br/> 
  <img src='<%= "#{photo[:image_url]}" %>'>
  <%= form_for([@user, photo], remote: true) do |f| %>
    <%= hidden_field_tag "user_id", "#{photo.user_id}"  %>
    <%= hidden_field_tag "image_url", "#{photo.image_url}"  %>
    <%= hidden_field_tag "latitude", "#{photo.latitude}"  %>
    <%= hidden_field_tag "longitude", "#{photo.longitude}"  %>
    <%= f.submit("Remove from map", id: photo.id) %>
  <% end %>
</div>